MAIL_NAME=ostrovbot@ostrov59.ru
MAIL_PASSWORD=CHANGE_ME
MAIL_HOST=smtp.mail.ru

MAIL2_NAME=kz@ostrov59.ru
MAIL2_PASSWORD=CHANGE_ME
MAIL2_HOST=smtp.mail.ru

MAIL3_NAME=avtolyx18@yandex.ru
MAIL3_PASSWORD=CHANGE_ME
MAIL3_HOST=smtp.yandex.ru

MAIL4_NAME=aposstolistina@yandex.ru
MAIL4_PASSWORD=CHANGE_ME
MAIL4_HOST=smtp.yandex.ru
